.footer-container {
    position: relative; /* Create a new stacking context */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;

    z-index: 2; /* Adjust the value as needed */
  }
  
  .footer-content {
    padding: 0;
    margin: 0 auto;
  }
  